@using Zahibinden.Models.ViewModels;
@model List<VM_ShowAdvert>
@{
}
<br />
<br />
<br />
<br />
@foreach (var item in Model)
{
    <ul>
        <li>@item.Title</li>
        <li>@item.TypeName</li>
        <li>@item.CategoryName</li>
        <li>@item.CategoryId</li>
        <li>@item.NumberofRooms</li>
        <li>@item.Price</li>
        <li>@item.M2</li>
        @foreach (var ımage in item.Images)
        {
            <li>
                <img src="@ımage.ImagePath" />
            </li>
        }
    </ul>
}